<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img style="height: 45px;" th:src="@{/img/favikon.png}" src="../static/img/favikon.png" alt="no fv">
                Code Sharing Platform
            </a>
            <a class="navbar-brand" href="/snippet/new">New paste</a>
            <div class="" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/profile/edit">Edit profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form class="dropdown-item" action="/auth/logout" method="POST">
                                    <button class="dropdown-item" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section th:if="${!(userList.isEmpty())}">
    <div class="container">
        <br>
        <h2 class="text-center">Users Table</h2>
        <br>
        <table class="table table-bordered ">
            <thead class="table-dark">
            <tr>
                <th scope="col" class="col-1">Id</th>
                <th scope="col" class="col">Email</th>
                <th scope="col" class="col-2">To User Snippets</th>
                <th scope="col" class="col-2">BAN/UNBAN</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td><a th:href="@{/admin/users/{id}/snippets(id=${user.getId()})}">User snippets</a></td>

                <td th:if="${user.getAccountStatus().toString().equals('ACTIVE')}">
                    <form th:method="PATCH" th:action="@{/admin/ban/{id}(id=${user.getId()})}">
                        <input class="btn btn-danger" type="submit" value="BAN">
                    </form>
                </td>
                <td th:if="${user.getAccountStatus().toString().equals('BANNED')}">
                    <form th:method="PATCH" th:action="@{/admin/unban/{id}(id=${user.getId()})}">
                        <input class="btn btn-success" type="submit" value="UNBAN">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>